<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .table .thead-dark th {
        background-color: #da1b1b;
        border: #da1b1b;
    }
</style>
<body>
    <div class="container">
        <h1 class="my-4">Lista de Compras</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NIF Estanco</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Filtro</th>
                    <th scope="col">Color</th>
                    <th scope="col">Clase</th>
                    <th scope="col">Mentol</th>
                    <th scope="col">Fecha Compra</th>
                    <th scope="col">Cantidad Comprada</th>
                    <th scope="col">Precio Compra</th>
                </tr>
            </thead>
            <tbody id="compras-table-body">
                <!-- Los datos se cargarán aquí -->
            </tbody>
        </table>
    </div>

    <script>
        // Función para obtener los datos de la API y mostrarlos en la tabla
        async function loadCompras() {
            try {
                const response = await fetch('/api/lista-de-compras');
                const compras = await response.json();

                const tableBody = document.getElementById('compras-table-body');
                tableBody.innerHTML = ''; // Limpia el contenido previo
                compras.forEach((compra, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <th scope="row">${index + 1}</th>
                        <td>${compra.nif_estanco}</td>
                        <td>${compra.marca}</td>
                        <td>${compra.filtro}</td>
                        <td>${compra.color}</td>
                        <td>${compra.clase}</td>
                        <td>${compra.mentol}</td>
                        <td>${compra.fecha_compra}</td>
                        <td>${compra.c_comprada}</td>
                        <td>${compra.precio_compra}</td>
                    `;
                    tableBody.appendChild(row);
                });
            } catch (error) {
                console.error('Error fetching compras:', error);
            }
        }

        // Llama a la función para cargar los datos cuando la página se cargue
        window.onload = loadCompras;
    </script>
</body>
</html>
